
.flex-container{
    display: flex;
    flex-direction: row;
    width: 35%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;

}

label{
    display: none;
}

.slider-container>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.slider-container span:nth-last-child(2){
    margin-right: 20px;
}

.slider-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

#colorDemo {
    width:100px;
    height:100px;
    border:1px solid black;
    border-radius: 10px;
}


.saveColor{
    width:100px;
    height:100px;
    border:1px solid black;
    display: inline-block;
    margin: 20px;
}

.button{
    float: right;
}