body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


#searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
}

